<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Management System </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="page-content">
    <div class="header">
        <h2>Job Management System Dashboard</h2>
    </div>
    <div class="headlines">
        <div class="headline">
            <h4>Jobs Done</h4>
        </div>
        <div class="headline">
            <h4>Running Jobs</h4>
        </div>
        <div class="headline">
            <h4>Queued Jobs</h4>
        </div>
        <div class="headline">
            <h4>Failed Jobs</h4>
        </div>
    </div>
</div>
</body>
</html>